@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="mb-4">Dashboard</h2>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <h5 class="card-title text-success fw-bold">Users Created in Last 3 Months</h5>
                <p class="display-4 text-dark">@ViewData["RecentUserCount"]</p> <!-- Hiển thị số người dùng mới -->
                <a href="@Url.Action("ManageLoginStatus", "User")" class="btn btn-outline-success mt-3">Manage Users</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <h5 class="card-title text-info fw-bold">Events This Month</h5>
                <p class="display-4 text-dark">@ViewData["EventCountThisMonth"]</p> <!-- Hiển thị số sự kiện trong tháng -->
                <a href="@Url.Action("Index", "Event")" class="btn btn-outline-info mt-3">Manage Events</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card-body" style="height: 400px; width: 400px; margin: auto">
            <div class="card shadow-sm border-0">
                @await Html.PartialAsync("_UserRoleChartPartial")
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4" style="flex: 2">
        <div class="card-body" style="height: 400px; width: 717px; margin: auto; margin-right: 0">
            <div class="card shadow-sm border-0">
                @await Html.PartialAsync("_CategoryEventChartPartial")
            </div>
        </div>
    </div>
</div>
