body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
}

#sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #f8f9fa;
    transition: width 0.3s;
    padding-top: 1rem;
}

    #sidebar.collapsed {
        width: 60px;
    }

    #sidebar .nav-link {
        display: flex;
        align-items: center;
        padding: 0.75rem;
        color: #333;
        font-size: 1rem;
    }

        #sidebar .nav-link i {
            font-size: 1.2rem;
        }

    #sidebar.collapsed .link-text {
        display: none;
    }

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

    .chart-container canvas {
        border: 1px solid #ddd;
        border-radius: 8px;
        height: 400px;
        padding: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
        
        .chart-container canvas

header, .footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    height: 60px;
}